<head>
    <meta charset="UTF-8">
    <title>Medication Scheduler</title>
</head>

<body>
    <div id=nav>
        <a id=home href="{% url 'MedicationScheduler:home' %}">Home</a>

        <!-- for buttons to adding medication and precription check if logged in -->
        <a id=new-medication href="{% url 'MedicationScheduler:new_medication' %}">Add Medication</a>
        <a id=new-prescription href="{% url 'MedicationScheduler:new_prescription' %}">Add Prescription</a>
        
        {% if user.is_authenticated %}
            <a href="{% url 'Auth:logout' %}">Log Out</a>
        {% else %}
            <a href="{% url 'Auth:login' %}">Log In</a>
            <a href="{% url 'Auth:register' %}">Sign Up</a>
        {% endif %}
    </div>
</body>

{% block content %} {% endblock content %}