{% extends "base.html" %}

{% block content %}

<h1>Medication Scheduler</h1>

<div>
  {% if user.is_authenticated %}
  <p>Hello {{user.username}} | {{user.email}}</p>
  <a href="/logout">Log Out</a>
  {% else %}
  <p>You are not Authenticated</p>
  <a href="/login">Log In</a>
  <a href="/register">Register</a>
  {% endif %}
</div>

<h3>[add weekly scheduler]</h3>

<h3>[add precription dropdown]</h3>

<!-- check if user is a care giver -->
<h3>[add patient dropdown]</h3>

{% endblock content %}
