{% extends "base.html" %}
{% load static %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="container mt-3">
      <div class="text-center">
        <h2>Home Page</h2>
        <div>
          <p>Hello {{user.username}} | {{user.email}}</p>
          <div id='calendar'></div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="calendarModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="modalTitle" class="modal-title"></h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div id="modalBody" class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  {% else %}

  {% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            themeSystem: 'bootstrap',
            headerToolbar: {
              left: 'prev,next today',
              center: 'title',
              right: 'dayGridMonth,timeGridWeek,listWeek'
            },
            events: JSON.parse('{{ events|safe }}'),
            eventClick:  function(event) {
                console.log( $('#modalBody'), event.event.description, event)
                $('#modalTitle').html(event.event.title);
                $('#modalBody').html(event.event.extendedProps.description);
                $('#calendarModal').modal('show');
            },

            // events: [
            //     {
            //         id: 'a',
            //         title: 'my event',
            //         start: new Date(),
            //         end: new Date(Date.now() + 1000 * 60 * 60 * 2),
            //     }
            // ]
        });
        calendar.render();
    });
</script>
{% endblock content%}







